# REAL MODE WILL DO CONVERSATION WITH AGENT (SOMETIME SLOW RES) IF DISABLE IT WILL USE TEMPLATE CONVERSATION
REAL_MODE=true

# 1 INTEACTION EARN 10 EXP, MAX 200 DAILY AGENT EXP
DAILY_AGENT_INTERACTION_COUNT=20

# USE ONCHAIN TX OR NO (ON EVERY ITERATION OF 3 AGENT IT WILL EXECUTE 1 ONCHAIN TRANSACITON)
USE_ONCHAIN=false